body{
    margin:0;
}
.danh-sach-muc{
            padding:0;
            margin:0;
            /* bỏ dấu chấm ở danh sách khi dùng ul,il */
            list-style:none;
            display:flex;
            /* gap là khoảng cách các đối tượng ở trong   */
            gap: 20px;
        }
        .danh-muc{
            background-color:hsl(201.85deg 79.31% 54.51%);
            padding: 10px;
        }
        .lien-ket{
            color:white;
            /* bỏ gạch chân của thẻ a */
            text-decoration:none;
        }
        main{
            display:flex;
        }
        .trai{
            width: 20%;
            height:100vh;
            /* border tạo đường viền */
            /* có 3 tham số độ dày màu sắc và kiểu đường viền */
            border-right: 2px solid hsl(201.85deg 79.31% 54.51%);
        }
        .khoi-dang-nhap{
            
            width: 100%;
            height: 85%;
        }
        form{
            width: 80%;
            margin: 10px auto;
        }
        .khoi-thong-tin{
            width:100%;
            margin-bottom: 10px;
        }



        input{
            width: 100%;
            padding: 5px 0;
            border-radius: 5px;
        }
        .quen-mat-khau{
            display: flex;
            justify-content: flex-end;
        }
        .quen-mat-khau-lien-ket{
            color:blue;
            text-decoration: none;
        }
        .login{
            width: 100%;
            padding: 5px 0;
            background-color:rgb(44, 129, 209);
            color:white;
            border-radius: 5px;
        }
        .login-365{
            width: 100%;
            padding: 5px 0;
            background-color:rgb(62, 56, 238);
            color:white;
            border-radius: 5px;
        }
        button{
            width: 100%;
            padding: 5px 0;
        }
.logo-truong{
    display: flex;
    justify-content: center; 
}
.logo{
    width: 60%;
    height: 43%;
}
        .phai{
            width: 80%;
            height:100vh;
            flex: 1;
            padding: 17px;
            overflow: auto;
        }
.tin{
            width: 95%;
            display:block;
            margin: 20px auto;
            border: 1px solid #198cf0;
            border-radius: 10px;
        }
        .chuc-nang{
            width: 95%;
            height: 30px;
            display: flex;
            margin: 5px auto;
            padding: 5px;
            justify-content: space-between;
            border-bottom: 1px solid #198cf0;

        }
        .xem-tiep{
            color: #198cf0;
            text-decoration: none;
        }
        .lien-ket-xem-tiep{
            color: #198cf0;
            text-decoration: none;
            font-weight: bold;
        }
.danh-sach-bai{
    display: flex;
    justify-content: space-around;
}
.chi-tiet-bai{
    width:23%;
   
}
.anh-bai{
    width:100%;
    border-radius: 10px;
}
.ngay-dang{
    text-align: right;
    color: #888;
    font-size: 14px;
}
.nua-trai{
    width: 50%;
    border-right: 1px solid gray;
}
.chi-tiet-bai-tb{
    
    width: 46%;
}

.nua-phai{
    width: 50%;
}
.khoi-tb{
    display: flex;  
}
.muc-tb{
    display: flex;
    
}
.tieu-de-muc-tb{
    width: 80%;
}
.ngay-dang-tb{
    color: #888;
    font-size: 14px;
}
.chi-tiet-bai-hd{
    width: 46%;
}
.khoi-hd{
    display: flex;  
}
.muc-hd{
    display: flex;
}
.tieu-de-muc-hd{
    width: 80%;
}
.ngay-dang-hd{
    color: #888;
    font-size: 14px;
}
.down{
    display:flex;
    justify-content: space-around;
}
.anh-qr{
    width:10%
    
}